.home-page {

    &.container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    main {
        display: flex;
        flex: 1;
        padding: 10px;
    }

    .tiles {
        align-items: stretch;
        align-content: flex-start;
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;

        @include kiosk() {
            flex-direction: column;
        }

        .block {
            display: flex;
            flex-direction: column;
            flex: 1;

            @include kiosk() {
                flex-direction: row;
            }

            &.large {
                flex: 2;
            }
        }

        .cell {
            display: flex;
            flex: 1;
            margin: 10px;
            //padding: 10px;
        }

        .tile {
            cursor: pointer;
            border: 1px #ccc solid;
            border-radius: 5px;
            flex: 1;
            position: relative;

            footer {
                bottom: 1em;
                color: white;
                font-size: 1em;
                position: absolute;
                right: 1em;
            }
        }
    }

    .button {
        font-size: 1.2em;
        position: absolute;
        right: 1em;
        top: 1em;
    }


    .fft {
        background:
            url('../img/cyclist.svg') 20% bottom no-repeat,
            url('../img/sky.jpg') center bottom no-repeat;
        background-size: auto, cover;

        /*
        // Sky picture is not seamless
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-name: scrollSky;
        -webkit-animation-timing-function: linear;

        @-webkit-keyframes scrollSky {
            from {
                background-position: 20% bottom, 0% top;
            }

            to {
                background-position: 20% bottom, -100% top;
            }
        }
        */
    }

    .surveys {
        background:
            url('../img/bars.svg') left bottom no-repeat,
            linear-gradient(to bottom, #ADD100 0%, #7B920A 100%);
        background-size: contain, auto;

        /* @include kiosk() {
            background:
                url('../img/pie-chart.svg') 75% 33% no-repeat,
                url('../img/bars.svg') left bottom no-repeat,
                linear-gradient(to bottom, #ADD100 0%, #7B920A 100%);
            background-size: 20%, contain, auto;
        } */
    }

    .links {
        background:
            url('../img/digital-medical.svg') center 66% no-repeat,
            linear-gradient(to bottom, #FFCA00 0%, #F75C1E 100%);
        background-size: contain, auto;
    }

    .info {
        background: #008ECE url('../img/medical-icons.svg') center center repeat;
        background-size: contain;
    }

    .news {
        background:
            url('../img/news.svg') center center no-repeat,
            linear-gradient(to bottom, #9D50BB 0%, #6E48AA 100%);
        background-size: contain, auto;
    }
}
